body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex:auto;
}

.logo{
    width: 500px;
}

.head h1{
    text-align: center;
}

/*Styling Buttons */

.buttons{
    margin: 48px;
    justify-content: space-around;
    align-items: center;
}


/*Styling of game results*/

.playerIcon IMG{
    width: 50px;
    height: auto;
}

.computerIcon IMG{
    width:50px;
    height: auto;
}

.score{
    justify-content: space-around;
    align-items: center;
}

.result{
    width: 200px;
    height: auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px;
}