.sketchArea{
    justify-content: center;
}

.hover{
    background-color: rgb(255, 218, 51);
}

.control{
    display: flex;
    justify-content: center;
    margin: 12px;
}
.sizeGrid{
    margin: 18px;
    font-size:large;
    
}